app/index.pug
- var pageTitle = "Vulcan Test Page";
include components/main/templates/head.pug
body
	.wrapper
		.top-page
			aside.sidebar
				.sidebar__item
					include components/navigation/templates/nav.pug
				.sidebar__item
					.target
						header.target__item
							a.logo(href="#", title="Vulcan Casino")
						.target__item
							h3.form-title Зарегистрируйся сейчас:
						.target__item
							form.welcomeform
								div.welcomeform__item
									input(type="email", class="welcomeform__text" placeholder="Введите E-mail", name="email")
								div.welcomeform__item
									input(type="password", class="welcomeform__text" placeholder="Введите пароль", name="password")
								div.welcomeform__item
									input(type="submit", class="welcomeform__btn" placeholder="Введите E-mail", value="Регистрация")
						footer.target__item
							span.agree
								| Регистрируясь в казино Русский Вулкан, вы соглашаетесь с 
								a(href="#") правилами казино.
			h2.join-text
				| Присоединяйтесь к
				span 8 756
				| счастливчиков
		.bottom-page
			ul.partners
				li.partners__item
					img.partners__img(src="images/c1.png", alt="")
				li.partners__item
					img.partners__img(src="images/c2.png", alt="")
				li.partners__item
					img.partners__img(src="images/c3.png", alt="")
				li.partners__item
					img.partners__img(src="images/c4.png", alt="")
				li.partners__item
					img.partners__img(src="images/c5.png", alt="")
				li.partners__item
					img.partners__img(src="images/c6.png", alt="")

include components/main/templates/scripts.pug

dist/index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="author" content="Nazar Linovetskiy"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Vulcan Test Page</title><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&amp;amp;subset=cyrillic"><link rel="stylesheet" href="styles/general.css"></head></html><body><div class="wrapper"><div class="top-page"><aside class="sidebar"><div class="sidebar__item"><nav class="nav" id="menu"><button class="nav__btn" id="menuTrigger"><span class="nav__btn-line"></span></button><ul class="nav__list" id="menuList"><li class="nav__item"><a class="nav__link" href="#">Игровой зал</a></li><li class="nav__item"><a class="nav__link" href="#">Гаминатор</a></li><li class="nav__item"><a class="nav__link" href="#">Лотереи</a></li><li class="nav__item"><a class="nav__link" href="#">Бонусы</a></li><li class="nav__item"><a class="nav__link" href="#">Vip-Клуб</a></li></ul></nav></div><div class="sidebar__item"><div class="target"><header class="target__item"><a class="logo" href="#" title="Vulcan Casino"></a></header><div class="target__item"><h3 class="form-title">Зарегистрируйся сейчас:</h3></div><div class="target__item"><form class="welcomeform"><div class="welcomeform__item"><input class="welcomeform__text" type="email" placeholder="Введите E-mail" name="email"></div><div class="welcomeform__item"><input class="welcomeform__text" type="password" placeholder="Введите пароль" name="password"></div><div class="welcomeform__item"><input class="welcomeform__btn" type="submit" placeholder="Введите E-mail" value="Регистрация"></div></form></div><footer class="target__item"><span class="agree">Регистрируясь в казино Русский Вулкан, вы соглашаетесь с <a href="#">правилами казино.</a></span></footer></div></div></aside><h2 class="join-text">Присоединяйтесь к<span>8 756</span>счастливчиков</h2></div><div class="bottom-page"><ul class="partners"><li class="partners__item"><img class="partners__img" src="images/c1.png" alt=""></li><li class="partners__item"><img class="partners__img" src="images/c2.png" alt=""></li><li class="partners__item"><img class="partners__img" src="images/c3.png" alt=""></li><li class="partners__item"><img class="partners__img" src="images/c4.png" alt=""></li><li class="partners__item"><img class="partners__img" src="images/c5.png" alt=""></li><li class="partners__item"><img class="partners__img" src="images/c6.png" alt=""></li></ul></div></div></body><script src="scripts/main.js"></script>
